language: node_js

node_js:
  - "4.0.0"

branches:
  only:
    - master

install:
  - npm install --production
  - npm run init

deploy:
  provider: heroku
  api_key: fe536612498f1f20a952205a245f141986a4f348
  app: shriek-alex
  run: 'pm2 deploy production'
  on:
    branch: master
