language: node_js

node_js:
  - "4.0.0"

branches:
  only:
    - master

install:
  - npm install --production
  - bower install

deploy:
  provider: heroku
  api_key: fe536612498f1f20a952205a245f141986a4f348
  app: shriek-alex
  run:
    - "gulp bower sass build"
    - restart

  on:
    branch: master
